<div class="container">
  <div class="header">
    <nav>
      <ul>
        <li><img src="../assets/Group 1.png" alt="" class=""></li>
        <li>Home</li>
        <li>Products</li>
        <li>Get a farm box</li>
        <li>Cart</li>
        <li><button>Sign up</button></li>
        <li><button>Log in</button></li>
      </ul>
      <input type="search">
      
    </nav>

  </div>
  <section>
    <div id='f2' class='f2'>
      f</div>
    <div id='arm2' class='arm2'>
      arm</div>
    <div id='rom' class='rom'>
      rom
    </div>
    <div id='resh' class='resh'>
      resh
    </div>

</section>
<section>
  <div class="homepage">
    <div class="brocoli-info">
      <h6>Fresh Fruits <br>
        and Vegetables</h6>
      <p>
        Freshly picked fruits and vegetables<br> delivered at your door step
      </p>

    </div>
    <div class="brocoli-img">
      <img src="../assets/23_1.png" alt="Brocoli Image">


    </div>
  </div>
</section>
<section>
  <div class="homepage1">
    <div class="brocoli-img1">
      <img src="../assets/FFV 1.png" alt="">
    </div>
    <div class="brocoli-info1">
      <h4>Fruits & Vegetables</h4>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor<br>
        do amet sint. Velit officia consequat duis enim velit mollit.<br>
        Exercitation veniam consequat sunt nostrud amet.Amet<br> minim mollit non deserunt ullamco est sit aliqua
        dolor<br>
        do amet sint. Velit officia consequat duis enim velit mollit.<br>
        Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>
</section>
<section>
  <div class="homepage2">
    <div class="brocoli-info2">
      <h4>Lentils & Dry Fruits</h4>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor
        do amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="brocoli-img2">
      <img src="../assets/Eat-Fresh-Food-for-Optimum-Nutrition 1.png" alt="">
    </div>
  </div>
</section>
<section>
  <div class="homepage3">
    <div class="brocoli-img3">
      <img src="../assets/millets 1.png" alt="">
    </div>
    <div class="brocoli-info3">
      <h4>Millets</h4>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor
        do amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>
</section>
<section>
  <div class="homepage4">
    <div class="brocoli-info4">
      <h4> Dairy Products</h4>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor
        do amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="brocoli-img4">
      <img src="../assets/images (3) 1.png" alt="">
    </div>
  </div>
</section>



</div>